<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Delta Nu</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    
  </head>
  <body class="bg-yellow-200">
    <header class="bg-yellow-200" >
      <section class="container">
        <nav >
          <ul>
            <%= if @current_user do %>
              <li>Signed in as: <%= @current_user.email %></li>
              <li><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
              <li><%= link "Edit account", to: Routes.pow_registration_path(@conn, :edit) %></li>
            <% else %>
              <li><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></li>
              <li><%= link "Sign up", to: Routes.pow_registration_path(@conn, :new) %></li>
            <% end %>
          </ul>
          <ul>
              <!-- 
            <%# <%= if function_exported?(Routes, :live_dashboard_path, 2) do %> %>
              <%# <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li> %>
            <%# <% end %> -->
          </ul>
        </nav>
        <a href="/" >
          <img  width="150" src="<%= Routes.static_path(@conn, "/images/50th_birthday_logo.JPG") %>" alt="Delta Nu Logo"/>
        </a>
      </section>
      <section  class="container bg-yellow-200">

        <nav role="navigation bg-yellow-200">


        <header x-data="{ mobileMenuOpen : false }" class="flex flex-wrap flex-row justify-between md:items-center md:space-x-4 py-6 px-6 relative bg-yellow-200">
  <!--<a href="#" class="block">
    <span class="sr-only">Delta Nu</span>
    <img class="h-6 md:h-8" src="<%= Routes.static_path(@conn, "/images/50th_birthday_logo.JPG") %>" alt="Delta Nu Logo" title="Delta Nu Logo">
  </a> -->
  <button @click="mobileMenuOpen = !mobileMenuOpen" class="inline-block md:hidden w-8 h-8 bg-gray-200 text-gray-600 p-1">
    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
  </button>
  <nav class="absolute md:relative top-16 left-0 md:top-0 z-20 md:flex flex-col md:flex-row md:space-x-6 font-semibold w-full md:w-auto shadow-md rounded-lg md:rounded-none md:shadow-none md:bg-transparent p-6 pt-0 md:p-0"
  :class="{ 'flex' : mobileMenuOpen , 'hidden' : !mobileMenuOpen}"  @click.away="mobileMenuOpen = false"
  >

            <%= if @current_user do %>
              <a class="mr-6 text-blue-500 hover:text-blue-800 hover:underline"><%= link "Events", to: Routes.event_path(@conn, :index) %></a>
        <% end %>
              <a class="mr-6 text-blue-500 hover:text-blue-800 hover:underline"><%= link "About Us", to: "/about_us" %></a>
          <%# <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
  </nav>
</header>
        </nav>

        
      </section>

      
    </header>

    
    <main role="main" class="container bg-white">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
